.navbar-container {
    padding: 0.3em 0 0.3em 5em;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.float-right {
    margin-left: auto;
    padding: 0 5em;
}

.btn-home {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #a6adbb;
    font-weight: 400;
    font-size: 1.1rem;
}