.section-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    margin: 4rem 0;
}

@media (max-width: 768px) {
  .content-row {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.mg-tp-5 {
    margin-top: 5rem;
}

.mg-tp-1 {
    margin-top: 1rem;
}

.mg-tp-5 {
    margin-top: 5rem;
}

.mg-tp-10 {
    margin-top: 10rem;
}

.mg-tp-20 {
    margin-top: 20rem;
}

.mg-lf-1 {
    margin-left: 1rem;
}

.mg-lf-5 {
    margin-left: 5rem;
}

.mg-rg-1 {
    margin-right: 1rem;
}

.mg-bot-1 {
    margin-bottom: 1rem;
}

.mg-bot-5 {
    margin-bottom: 5rem;
}

.mg-bot-10 {
    margin-bottom: 10rem;
}


.mg-1 {
    margin: 1rem;
}

.fl-rgt {
    float: right;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-1 {
    gap: 1rem;
}

.txtdec-none {
    text-decoration: none;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.about-img-div img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
